<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                    <p><button id="btnStart">START</button><br/>
                    <button id="btnStop">STOP</button></p>
                    
                    <video controls></video>
            
                    <video id="vid2" controls></video>
            </div>
        </div>
    </div>
</div>




  <script src="/js/grabadora.js" defer ></script>