
<script>
        const ROOM_DATA = "{{ticket}}",
          
            room_name = "{{name}}",
            room_email = "{{email}}", 
            ROOM_ID = "{{roomId}}"
        var id_usuario = undefined
</script>

{{!-- Styles--}}
 <link rel="stylesheet" href="/css/videollamada.css">
<div class="container ">
   
       
    <div class="main">
        <div class="main__izquierda">
            <div class="main__videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="main__controles">
                 <div class="main__controles__panel"></div>

                <div class="main__controles__panel">
                    <div onclick="muteUnmute()" class="main__controles_button main__mute_button" style="display: block;">
                         {{!--<i class="fas fa-microphone"></i>--}}
                         <img src="/img/audio.png" alt="Mute" style="width:60px;height:60px;">
                    </div>
                    <div onclick="muteUnmute()" class="main__controles_button main__mute_button" style="display: none;">
                         {{!--<i class="fas fa-microphone"></i>--}}
                         <img src="/img/sin_sonido.png" alt="Mute" style="width:60px;height:60px;">
                    </div>


                    <div onclick="playStop()" class="main__controles_button main__video_button" style="display: block;">
                         {{!--<i class="fas fa-video"></i>--}}
                        <img src="/img/video.png" alt="Stop video" style="width:60px;height:60px;">
                    </div>
                     <div onclick="playStop()" class="main__controles_button main__video_button" style="display: none;" >
                         {{!--<i class="fas fa-video"></i>--}}
                        <img src="/img/sin_video.png" alt="Stop video" style="width:60px;height:60px;">
                    </div>

                     <div  class="main__controles_button main__refresh_button" style="display: block;">
                         <i class="fas fa-sync-alt" ></i>
                       
                    </div>


                </div>
                {{!--
                <div class="main__controles__panel">
                    <div class="main__controles_button">
                        <i class="fas fa-shield-alt"></i>
                        <span>Seguridad</span>
                    </div>
                    <div class="main__controles_button">
                        <i class="fas fa-user-friends"></i>
                        <span>Colaboradores</span>
                    </div>
                    <div class="main__controles_button">
                        <i class="fas fa-comment-alt"></i>
                        <span>Chat</span>
                    </div>
                </div>

                main__controles_contesra
                --}}
                <div class="main__controles__panel">
                    <div class="main__controles_button2" id="main__controles_salir">
                        <span class="leave_meeting text-uppercase">Salir</span>
                    </div>
                </div>

                
            </div>
                
            

        </div>
        <div class="main__derecha">
            <div class="main__header text-uppercase">
                <h6>Chat</h6>
            </div>
            <div class="main__chat_window">
                <ul class="chat__messages_list">

                </ul>
            </div>
            <div class="main__message_container">
                <input type="text" id="chat_message" placeholder="Escribe un mensaje...">
            </div>

        </div>

    </div>
</div>



  <script src="/js/videollamada.js" defer ></script>