<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>Integra Ideas</h1>
            <h3 class="mb-5">
                <em>videollamadas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Lets's get Start
            </a>
        </div>
    </header>
</main>