<!-- Footer -->
  <footer  class="sticky-footer py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright 2019 &copy; All Rights Reserved.</small>
      	<p class="mg-r-50">Designed by: <a href="http://www.integraideasconsultores.com">Integraideas Consultores</a></p>
    </div>
  </footer>
<!-- Footer -->