<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img src="/img/logo_color.png" alt="Logo_MrBisne" class"card-img mx-auto m-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
           
            {{#if user}}
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mensajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notificaciones</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/links">All Links</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="links/add">Agregar link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Salir</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Ingresar</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/signup">Registrar</a>
                </li>

            {{/if}}
           
            </ul>
        </div>
    </div>
</nav>